body {
	margin: auto;
	padding: 50px;
	/* background: #000; */
}

#header_details {
	display: flex;
	justify-content: center;
}

#header_image {
	padding: 20px;
	background: #000;
	height: 40px;
	border-radius: 5px;
}
h1 {
	display: block;
	text-align: center;
	font-family: "Alfa Slab One", cursive;
	border-radius: 5px;
	letter-spacing: 10px;
	padding: 20px;
	color: #6274a5;
	background: #000;
}
#picture_display {
	display: flex;
	justify-content: center;
}

#picha {
	border-radius: 5px;
	height: 720px;
	max-width: 700px;
}