*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(15, 8, 17);
    position: relative;
}
.nav{
    height: 10vh;
    width: 100%;
    background-color: black;
    border: 3px solid;
    border-image: linear-gradient(45deg,rgb(89, 4, 117),yellow,red,rgb(171, 89, 199)) 1;
    position: relative;
    display: flex;
}
.nav img{
    height: 99%;
}
.nav #header{
    color: white;
    font-size: 50px;
    font-family: 'Rubik Distressed', cursive;
    text-align: center;
    padding-top: 1%;
    margin-left: 3%;
}
.movies p{
    color: yellowgreen;
    font-size: 30px;
    font-family: 'Rubik Distressed', cursive;
    position: relative;
    z-index: 10;
}
.movies #moviesTitle .hello{
    color: white;
    width: 100%;
    height: 42px;
    font-size: 25px;
    font-family: 'Rubik Gemstones', cursive;
    padding: 7px;
    list-style: none;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.hello::after{
    content: '';
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.hello:hover::after{
    width: 100%;
}
.movies{
    margin-left: 2%;
    margin-top: 3%;
    position: relative;
    width: 30%;
    height: 80vh;
    background: black;
    overflow: hidden;
}
.movies::before{
    content: '';
    position: absolute;
    width: 60%;
    height: 140%;
    background: linear-gradient(rgb(133, 71, 150), yellow);
    animation: animate 4s linear infinite;
    margin-left: 20%;
}
.movies::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #0e1538;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* section 2 */

.details{
    color: white;
    position: absolute;
    left: 50%;
    top: 17%;
    background-color: black;
    font-family: 'Anton', sans-serif;
}
#poster{
    width: 100%;
    height: 550px;
}
#name{
    font-size: 40px;
}
.details span{
    color: yellow;
}
.tickets{
    position: absolute;
    top: 87%;
    left: 40%;
}
.tickets button img{
    width: 150px;
    height: 75px;
    cursor: pointer;
}

.koz{
    background-color: rgba(255, 255, 255,0.8);
    width: 30%;
    height: 500px;
    box-shadow: 5px 5px 10px silver;
    position: absolute;
    left: 55%;
    top: 31%;
    display: none;
}
.koz #habib{
    width: 20%;
    height: 20%;
    margin-left: 37%;
}
.koz #tick{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}
.koz #fat{
    color: green;
}
.koz .common{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-left: 1%;
}
.said2{
    color: red;
    margin-top: 20%;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.koz .hamza #said{
    width: 30px;
}