
:root {
	--primary-button-color: #6995d3;
	--secondary-button-color: #dedbf5;
	--accent-color: #7269d3;
	--text-color: #091e20;
	--background-color: #f3fbfc;
	--headings-font: 'Karla', sans-serif;
	--body-font: 'Inconsolata', monospace;
	--tertiary-font: 'Pacifico', cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
}

header {
	color: var(--background-color);
	display: flex;
	align-items: center;
	background-color: var(--text-color);
	padding: 1rem;
	letter-spacing: 5px;
	text-transform: lowercase;
	font-family: var(--headings-font);
}
i {
	padding: 1rem;
	font-size: 3rem;
	color: var(--accent-color);
}

main {
	display: flex;
	justify-content: space-evenly;
}
.placeholder {
	flex: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

img {
	height: 500px;
	width: 500px;
	border-radius: 10px;
}

h2 {
	font-family: var(--headings-font);
}
p {
	font-family: var(--body-font);
	width: 50%;
	text-align: center;
}

/* List styles */
li {
	list-style: none;
	border-radius: 4px;
	background-color: #3d405b;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 17px;
	font-family: var(--headings-font);
	padding: 16px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

li:hover {
	background-color: #777c7c;
	top: 0;
	right: -15px;
	transition: 0.5s;
}

/* Button Styles */
button {
	position: relative;
	background-color: rgb(230, 34, 77);
	border-radius: 5px;
	box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
	padding: 15px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	width: 154px;
	height: 49px;
	color: #fff;
	border: none;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
}

button::before {
	content: '';
	background-color: rgb(248, 50, 93);
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: width 700ms ease-in-out;
	display: inline-block;
}

button:hover::before {
	width: 100%;
}

.disabled {
	background-color: #091e20;
	cursor: auto;
	box-shadow: none;
}

.disabled::before {
	all: unset;
}